.tracker-main-container-section-one-timer-container input {
  width: 93%;
  height: 60%;
  padding-left: 1vw;
  cursor: pointer;
  /* outline: none; */
  border: none;
  /* outline: 1px solid #80808054; */
  border-radius: 2px;
  font-weight: 500;
  font-size: 14px;
  color: #666666;
}

.tracker-main-container-section-one-timer-container input:focus {
  outline: 1px solid #80808054;
}
.tracker-main-container-section-one-timer-container input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666666a5;
  font-weight: 400;
}
.css-17ffvgn-MuiTypography-root {
  padding-bottom: 8px !important;
  padding-top: 8px !important;
  font-weight: 500;
  color: red;
  cursor: pointer;
}

.tracker-description2-container input {
  font-weight: 400;
}
.session-date {
  color: #999;
  font-size: 0.8rem;
  margin-left: 1.5vw;
}
.session-stats-container span {
  color: #999;
  font-size: 0.8rem;
}
.session-stats-container p {
  font-weight: 500;
  font-size: 1.2rem;
  margin-left: 1vw;
  margin-right: 2vw;
}
.all-session-holder-container {
  overflow-y: scroll;
}
.day-sessions-time {
  margin-right: 2vw;
  font-weight: 500;
  font-size: 1.1rem;
}
.add-project-section select {
  width: 90%;
  height: 65%;
  outline: none;
  color: #03a9f4;
  font-weight: 500;
  font-size: 0.7rem;
  border-radius: 5px;
  border: 1px solid #808080b8;
}
.css-1dobdcf {
  font-size: 16px !important;
}
.day-sessions-time-tag {
  color: #999;
  font-size: 0.8rem;
  margin-left: 1.5vw;
}

.all-session-holder-container::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.all-session-holder-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.all-session-holder-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.all-session-holder-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
